/* css reset */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  background-color: #eef0eb;
  font-family: "Raleway", sans-serif;
  color: #412234;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav-btn {
  display: none;
}

.nav-close-icon {
  display: none;
}
/****************************
HEADER
*****************************/

.menu__list {
  padding: 50px 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 36px;
}

.menu__item {
  margin-right: 50px;
  padding: 5px;
}

.menu__item:last-child {
  margin-right: 0;
}

.title__main {
  font-size: 60px;
  font-weight: 600;
  max-width: 600px;
  margin: 100px 0 40px;
}

.header {
  background-image: url(../images/Background.jpg);
  background-color: #787f78;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

.subtitle {
  max-width: 500px;
  line-height: 2;
  margin-bottom: 90px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 152px);
  text-align: center;
}

.action__button {
  background-color: #f39237;
  color: white;
  font-weight: 600;
  padding: 15px 0 15px;
  border-radius: 10px;
  border-color: white;
  width: 270px;
  margin-bottom: 50px;
}

.header__icon-down::after {
  content: url(../images/Arrows_down.png);
  width: 200px;
  height: 200px;
}

/****************************
ABOUT
*****************************/

.about {
  padding-top: 140px;
}

.about__content {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 90px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 600;
}

.portrait {
  border-radius: 5%;
  margin-bottom: 20px;
  transform: translate(0, 4%);
}

.name {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.bio {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  max-width: 640px;
}

.bio p {
  margin-bottom: 15px;
}

.bio p:last-child {
  margin-bottom: 0;
}

.qualitications {
  text-align: center;
  padding: 0 20px;
  margin: 0 auto 70px;
}

.qualifications__list {
  list-style: inside;
  font-size: 20px;
  line-height: 2;
}

.benefits {
  max-width: 740px;
  margin: 0 auto 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.benefits__item {
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  max-width: 210px;
  margin-top: 20px;
}

.benefits__age::before {
  content: url(../images/books.svg);
}

.benefits__students::before {
  content: url(../images/students.svg);
}

.benefits__free::before {
  content: url(../images/phone.svg);
}

.benefits__discounts::before {
  content: url(../images/dollar.svg);
}

.benefits__commitment::before {
  content: url(../images/commitment.svg);
}

/****************************
PRICES
*****************************/

.prices {
  padding-top: 140px;
  text-align: center;
}
.prices__lists {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}

.locations {
  position: relative;
}

.prices__list {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  position: relative;
}

.prices__lists li:first-child {
  font-weight: 600;
  text-decoration: underline;
}

.areas {
  font-size: 16px;
  font-weight: normal;
  max-width: 330px;
  position: absolute;
  right: 40px;
  bottom: -50px;
}

/****************************
CONTACTS
*****************************/

.contacts {
  padding-top: 140px;
}

.contacts__content {
  display: flex;
  justify-content: space-evenly;
}

.contacts__main {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.contacts__item {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.contacts__item::before {
  margin-right: 20px;
}

.name {
  font-weight: 600;
}
.address {
  max-width: 300px;
}

.address::before {
  content: url(../images/house.svg);
}

.phone::before {
  content: url(../images/cell.svg);
}

.email::before {
  content: url(../images/email.svg);
}

.contacts__item {
  margin-left: 15px;
}

.mail {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.mail__field {
  display: block;
  width: 100%;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  line-height: 1;
  padding: 18px;
  margin-bottom: 14px;
  outline: transparent;
}

.mail__field::placeholder {
  color: #412234;
}

.mail__field--message {
  resize: none;
  margin-bottom: 50px;
  height: 190px;
}

/****************************
REVIEWS
*****************************/

.reviews {
  padding-top: 140px;
  text-align: center;
  margin-bottom: 100px;
}

.slider {
  max-width: 600px;
  background-color: #fff;
  border-radius: 6%;
  margin: 0 auto 50px;
}
.slider__review {
  padding: 0 20px;
  text-align: center;
  font-size: 20px;
}

.slider__box {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*.slider__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
.slider__review p {
  margin-bottom: 30px;
  font-style: italic;
}

.slick-dots {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.slick-dots li + li {
  margin-left: 10px;
}

.slick-dots button {
  border-radius: 50%;
  border: none;
  width: 15px;
  height: 15px;
  background-color: #d6d7d6;
  font-size: 0;
  padding: 0;
}

.slick-active button {
  background-color: #f39237;
}

.slick-prev,
.slick-next {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}

/****************************
FOOTER
*****************************/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
  background-color: #787f78;
}

.footer__social {
  display: flex;
}

.footer__social-list {
  padding: 0 25px;
  color: #412234;
}

.footer__address,
.copyright {
  max-width: 227px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.webdesign {
  font-size: 16px;
}
